<div class="index">
    <h1>Perfect Pizza</h1>
{{#if item}}
    <form class="cart" action="/checkout" method="post">
        <h2>Shopping cart</h2>
        {{#each item}}
        <h4 class="size">{{this.size}}</h4>
        <input class='qty inc' type="submit" value="+"
            formaction="/add/{{this.size}}">
        <h4 class='num'>{{this.qty}}</h4>
        <input class='qty decrs' type="submit" value="−"
            formaction="/remove/{{this.size}}">
        <h4>R{{this.cost}}</h4>
        {{/each}}
        <h3>Total cost: R{{total}}</h3>
        <input class="checkout" type="submit" value="Checkout">
    </form>
    {{/if}}
    {{#each products}}
    <form class='product' action="/add/{{this.size}}" method="POST">
        <img class={{this.size}} src="pizza.svg">
        <h3>{{this.size}} Pizza</h3>
        <h3>R{{this.price}}</h3>
        <p>{{this.description}}</p>
        <input type="submit" value="Order">
    </form>
    {{/each}}
</div>